{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}{{dataset}} Production{% endblock title %}


{% block content %}
<div class="container my-3 py-3">

    <div class="row align-items-center">

        <div class="col-8">
            {% if merged_graphs %}
            
            <img src="data:image/png;base64, {{merged_graphs|safe}}"
            class="img-fluid">
            
            <form method="POST" action="{% url 'change_summary_year' dataset %}">
                {% csrf_token %}
                <div class="row justify-content-end align-items-center mx-5">
                    <div class="col-auto">
                        Latest Forecast (up to 2050)
                    </div>
                    <div class="col-2">
                        <input type="number" class="form-control" name="summary_end_year" placeholder="Year"/>
                    </div>
                    <div class="col-auto align-items-center">
                        <button class="btn btn-success" type="submit">
                            Refresh <i class="fa-solid fa-arrows-rotate"> </i>
                        </button>
                    </div>
                </div>
            </form>

            {% endif %}
            
        </div>

        <div class="col">
            <div class="row align-items-center">
                <h1 class="fw-bold">{{dataset}} Dataset</h1>
            </div>
            
            <div class="row mb-2">
                <div class="col-auto">
                    <a class="btn btn-info btn-sm" href="{% url 'reload_models_page' dataset %}">Reset <i class="fa-solid fa-arrows-rotate"> </i></a>
                </div>
                <div class="col-auto"> 
                    <a class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#uploadmodel">Upload <i class="fa-solid fa-upload"> </i></a>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-auto">
                    <a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#summary">Summary <i class="fa-solid fa-list"> </i></a>
                </div>
                <div class="col-auto">
                    <a class="btn btn-warning btn-sm" href="{% url 'edit_dataset_page' dataset %}">Edit Dataset <i class="fa-solid fa-pen-to-square"> </i></a>
                </div>
            </div>
            
            <p>Using the {{dataset}} dataset of Davao del Sur from 1987 to 2022.</p>

        </div>

        
    </div>
        
    <hr>

    {% include 'dashboard/sarima_graphs.html' %}

    <br>
    <hr>

    {% include 'dashboard/bayesian_graphs.html' %}

    <br>
    <hr>

    {% include 'dashboard/winters_graphs.html' %}

    <br>
    <hr>

    {% include 'dashboard/lstm_graphs.html' %}

</div>

<!-- Summary Modal -->

<div class="modal modal-xl fade" id="summary" aria-labelledby="summary" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Forecasts</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body p-3">
                
                <table class="table">
                    <thead>
                        <th>Model</th>
                        <th>BIC</th>
                        <th>MSE</th>
                        <th>RMSE</th>
                        <th>MAD</th>
                        <th>MAPE</th>
                    </thead>
                    <tbody>
                        {% for model in sarima_models %}
                        <tr>
                            <td>{{model.model_name}}
                                {% if model.is_boxcox %}
                                <!-- <p class="my-0">Lambda = {{model.lmbda}}</p> -->
                                {% endif %}
                            </td>
                            <td>{{model.bic | intcomma}}</td>
                            <td>{{model.mse | intcomma}}</td>
                            <td>{{model.rmse | intcomma}}</td>
                            <td>{{model.mad | intcomma}}</td>
                            <td>{{model.mape | intcomma}}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td class="text-secondary" colspan="6">No SARIMA models.</td>
                        </tr>
                        {% endfor %}
                        {% for model in bayesian_models %}
                        <tr>
                            <td>{{model.model_name}}
                                {% if model.is_boxcox %}
                                <!-- <p class="my-0">Lambda = {{model.lmbda}}</p> -->
                                {% endif %}
                            </td>
                            <td>--</td>
                            <td>{{model.mse | intcomma}}</td>
                            <td>{{model.rmse | intcomma}}</td>
                            <td>{{model.mad | intcomma}}</td>
                            <td>{{model.mape | intcomma}}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td class="text-secondary" colspan="6">No Bayesian SARIMA models.</td>
                        </tr>
                        {% endfor %}
                        {% for model in winters_models %}
                        <tr>
                            <td>{{model.model_name}}
                                {% if model.is_boxcox %}
                                <!-- <p class="my-0">Lambda = {{model.lmbda}}</p> -->
                                {% endif %}
                            </td>
                            <td>--</td>
                            <td>{{model.mse | intcomma}}</td>
                            <td>{{model.rmse | intcomma}}</td>
                            <td>{{model.mad | intcomma}}</td>
                            <td>{{model.mape | intcomma}}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td class="text-secondary" colspan="6">No Holt-Winters models.</td>
                        </tr>
                        {% endfor %}
                        {% for model in lstm_models %}
                        <tr>
                            <td>{{model.model_name}}
                                {% if model.is_boxcox %}
                                <!-- <p class="my-0">Lambda = {{model.lmbda}}</p> -->
                                {% endif %}
                            </td>
                            <td>--</td>
                            <td>{{model.mse | intcomma}}</td>
                            <td>{{model.rmse | intcomma}}</td>
                            <td>{{model.mad | intcomma}}</td>
                            <td>{{model.mape | intcomma}}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td class="text-secondary" colspan="6">No LSTM models.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close <i class="fa-solid fa-x"> </i></button>
            </div>
        </div>

    </div>
</div>

<!-- End Summary -->


<!-- Upload Results -->
<div class="modal fade" id="uploadmodel">
    <div class="modal-dialog">
        <form method="POST" action="{% url 'upload_results' dataset %}" enctype="multipart/form-data">
            <div class="modal-content">
            {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload Results</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body p-3">

                    {{ upload_form.json_file | as_crispy_field }}

                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close <i class="fa-solid fa-x"> </i></button>
                    <button type="Submit" class="btn btn-primary" >Save <i class="fa-solid fa-save"> </i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- End Upload Results -->

{% endblock content %}
